<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Couch Potato</title>

     <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">

    <!-- Custom fonts for this template
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'> -->

    <!-- Custom styles for this template
    <link href="css/grayscale.min.css" rel="stylesheet" type="text/css">
    <link href="css/grayscale.css" rel="stylesheet" type="text/css"> -->

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
          <img class= "img-circular"src="img/couchpotato.jpg" width="100" height="100" alt="Couch Potato Logo" href="index.html" class="leftnavbar">  
        <div  class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a style="color: grey" class="nav-link js-scroll-trigger" href="/main">Recommended</a>
            </li>
            <li class="nav-item">
              <a style="color: grey" class="nav-link js-scroll-trigger" href="/MyQueue">MyQueue</a>
            </li>
            <li class="nav-item">
              <a style="color: grey" class="nav-link js-scroll-trigger" href="/Logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">Are you sure you want to logout?</h1>
              <p class="intro-text"></p>
              <div class="col-lg-8 mx-auto">

                  <pre>
                     
                     <a type="button" value="Logout" class="logout" href="/"Logout>Logout </a>
                     
                     </pre>


              </div>
              <a href="/myqueue" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>


      </div>
    </section>

    <!-- Logout Section
    <section id="Logout" class="content-section text-center">
      <div class="container">
        <div class="row">
         
        </div>
      </div>
    </section> -->

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Couch Potato 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script> -->

    <!-- Custom scripts for this template -->
    <!-- <script src="js/grayscale.min.js"></script> --> 

  </body>

</html>
